* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
/* begin  commom */
.clear {
  clear: both;
}
.text-white {
  color: #fff !important;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.pull-right {
  float: right !important;
}

.col-third {
  width: 33.33333%;
}
.col-half {
  width: 50%;
  padding: 0;
}
.col-full {
  width: 100%;
  padding: 0;
}
.text-center {
  text-align: center !important;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}

/* end commom */
#main {
}

#header {
  height: 46px;
  background-color: #0a0a0a;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav {
}

.nav li {
  display: inline-block;
  position: relative;
}
.nav > li > a {
  color: #fff;
}
/* icon */
.nav i {
  color: #fff;
}
/* end icon */

.nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 26px;
  display: inline-block;
}

/* hover vao thang cha hien len thang con */
.nav li:hover .subnav {
  display: block;
}
/* end hover vao thang cha hien len thang con */

/*  hover the header */
.nav > li:hover > a,
.nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}
/* end hover the header */

.nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
  top: 100%;
  left: 0;
}
.nav .subnav a {
  color: #333;
}

/* begin search */
#header .search-btn {
  padding: 0 21px;
}
#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}
#header .search-icon {
  color: #fff;
  font-size: 18px;
  line-height: 46px;
}

/* end search */

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("/W3_Band/assets/img/slider/slider1.jpg") top center / cover
    no-repeat;
}
#slider .text-content {
  position: absolute;
  bottom: 47px;
  text-align: center;
  width: 100%;
  color: #fff;
}

/* content */

#content {
}
#content .content-section {
  width: 800px;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
}
.contact-content {
  margin-top: 18px;
}
.conact-info {
  font-size: 18px;
  line-height: 1.5;
}
.contact-form {
  font-size: 15px;
}

/* css theo class icon */
.conact-info i[class*="fa-"] {
  width: 30px;
  display: inline-block;
}
#content .content-section {
  width: 800px;
  margin: auto;
  padding: 64px 0;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  /* tang khoang cach chu  */
  letter-spacing: 4px;
}

#content .section-sub-heading {
  text-align: center;
  font-size: 15px;
  margin: 25px 0;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  font-size: 15px;
  text-align: justify;
  line-height: 1.6;
}
#content .member-list {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#content .member-item {
  text-align: center;
}

#content .member-name {
  padding: 15px 0;
}
#content .member-img {
  width: 154px;
  border-radius: 5px;
}
/* Tour section */
.tour-section {
  background-color: #000;
}
.ticket-list {
  background-color: #fff;
  margin-top: 40px;
}
.ticket-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}
.ticket-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}
.ticket-list .quantity {
  background-color: #000;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  float: right;
  line-height: 24px;
}

#content {
}

/* Place */

.places-list {
  margin-top: 32px;
}

.place-item {
  width: 33.33333%;
  float: left;
  padding: 0 8px;
}
.place-img {
  width: 100%;
  padding-top: 30px;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background-color: #fff;
  padding: 15px;
  font-size: 15px;
}

.place-heading {
  font-weight: 600;
}

.place-time {
  margin-top: 15px;
  color: #757575;
}

.place-desc {
  padding-top: 15px;
  line-height: 1.4;
}

.btn {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 6px;
  border: none;
}
.btn:hover {
  background-color: #8b8787;
  color: #000;
  cursor: pointer;
}
.map-section img {
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
}
#footer .socials-list {
  font-size: 30px;
}

#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}
/* them open trong buy ticket */
.modal.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.7s;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 12px;
}
.modal-close:hover {
  background-color: #ccc;
  color: #000;
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-body {
  padding: 12px;
}

.modal-label {
  display: block;
  margin: 16px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}

.modal-label {
}

.modal-input {
}
.modal-header-icon {
  margin-right: 16px;
}
#buy-tickets {
  margin-top: 16px;
  background-color: #009688;
  border: none;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer;
  color: #fff;
}
#buy-tickets:hover {
  opacity: 0.7;
}

.modal-footer {
}

.modal-help {
  padding: 16px;
  text-align: right;
}
.modal-help a {
  color: #2196f3;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
